.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header, footer {
  background-color: #202C39;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header div.log-btns{
  justify-self: flex-end;
}




#logout-form {
  margin-left: 10px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.space-btwn {
  justify-content: space-between;
}

main {
  width: 80%;
  margin: 20px auto;
}
.listing, .review{
  padding: 10px;
  
}
#listings div{
  flex-basis:225px;
}
#listings{
  justify-content: space-between;
}

span.green{
  color: green;
}
span.red {
  color: red;
}
.main {
  justify-content: space-between;
}

/* Toggle CSS */
.toggle {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  margin-top: 10px;
}
.toggle-checkbox {
  display: none;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #ccc;
  border-radius: 20px;
  margin: 0;
}
.toggle-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.toggle-inner::before, .toggle-inner::after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.toggle-inner:before {
  content: "Yes";
  text-transform: uppercase;
  padding-left: 10px;
  background-color: green;
  color: #fff;
}
.toggle-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-disabled::before {
  background-color: #ccc;
  cursor: not-allowed;
}
.toggle-inner::after {
  content: "No";
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #ccc;
  color: #fff;
  text-align: right;
}
.toggle-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.toggle-checkbox:checked + .toggle-label .toggle-inner {
  margin-left: 0;
}
.toggle-checkbox:checked + .toggle-label .toggle-switch {
  right: 0px;
}

header a, footer a {
  color: white;
}

footer {
  background-color: #282c34;
  color: white;
  margin-top:auto;
  
}
#listings .listing{
  border: 2px solid #282c34;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 20px;
}
h2 {
  margin-top:0px;
}
li {
  list-style: none;
}

#search-form{
  text-align:left;
}
#search{
  width:90%;
  border:1px solid #7d8570;
  border-right:none;
  border-radius: 5px 0px 0px 5px;
}

#search, #search-btn{
  height: 25px;
}
#search-btn{
  background-color:#7d8570;
  color:#fff;
  border:none;
  border-radius: 0px 5px 5px 0px;
}
a {
  color:#202C39;
}
h2 a {text-decoration: none;}